body{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#myDiv {
    margin: auto;
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
    overflow: hidden
    background_color: #f0f0f5;
}
